html,body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: abel;

}
.body-wrapper {
	max-width: 1700px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
ul li{
    padding: 0 1%;
    display: inline-block;
}

ul li a{
    color: lightgray;
    text-decoration: none;
}
hr.line {
	/*border-top: 1px solid #8c8b8b;*/
	border-bottom: .5px solid #fff;
}
video{
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);

}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
.card {
    position: absolute;
    top: ;
    width: 25%;
	color: #fff;

}
